body {
  line-height: 1;
  font-weight: 400;
  color: #000000;

  display: flex;

  height: 100vh;
  margin: 60;
  padding: 0;
}

.container {
  margin: 0px 10px 0px 10px;
}

.row {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-direction: column;
  justify-content: space-around;
  border-top: solid #b3b3b3 1px;

  color: #777777;
}

.title-items {
  display: flex;
  justify-content: space-between;
}

.title-box {
  display: flex;
  width: 100%;
  color: #000000;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
